.container {
  margin: 30px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgb(255, 143, 0);
}

.recovered {
  border-bottom: 10px solid rgb(59, 217, 0);
}

.deaths {
  border-bottom: 10px solid rgb(212, 0, 0);
}

@media (max-witdh: 770px){
  .card{
    margin: 2% 0 !important;
  }
}